<!DOCTYPE html>
<html lang="es">
<h1> Está seguro que desea borrar la película?</h1>
<form action="/movies/<%=pelicula.id%>/delete" method="POST">
    <button type="submit">Eliminar</button>
    <a href="/movies"><button>Regresar</button></a>