html{
  background-image: url('https://img.freepik.com/premium-photo/movie-theater-entrance-interior-blur-image-use-background-business-cinema-concept-abstract-blurred-image-lobby-movie-theater-vietnam_479694-1844.jpg');
  background-repeat: no-repeat
}
h1{
  color: aquamarine;
}