html{
  background-image: url('https://bloximages.newyork1.vip.townnews.com/chronicleonline.com/content/tncms/assets/v3/editorial/3/f3/3f39fbf6-9ec2-11eb-84b6-57c4732a0d15/6079a37fb5379.image.jpg');
  background-size: auto;
}
h1{
  color: aquamarine; padding-left: 2%; 
}

li {
  display: flex;
}
body{font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;}
ul{list-style: none;display:flex; flex-direction:column;flex-wrap: wrap}

a{font-size: larger; padding: 1vh;}

a.regresar{padding-left: 5%;}

a:link {
  color: rgb(235, 233, 162);
}

a:visited {
  color:rgb(229, 231, 106);
}
div{padding-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(235, 233, 162);
}
label{color:rgb(235, 233, 162)}
form{padding-left: 5%;}

head.banner{
  display: flex;
  flex-direction: row;
}

p.feedback{color:rgb(238, 107, 0)}

h1.title{
  flex-grow: 0.75;
}

button.regresar{margin-left: 15%}

@media (min-width: 1760px){
  html{
    background-image: url('https://bloximages.newyork1.vip.townnews.com/chronicleonline.com/content/tncms/assets/v3/editorial/3/f3/3f39fbf6-9ec2-11eb-84b6-57c4732a0d15/6079a37fb5379.image.jpg');
    background-size: cover;
  }
}