<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<body>

	<h1>Listado de películas</h1>
	<ul>
		<% for (let i=0; i<peliculas.length; i++) { %>
			<li>
				<a href="/movies/<%=peliculas[i].id%>"><%= peliculas[i].title %></a>
				 
			</li> 
			<% } %> 
	</ul>

</body>	
</html>